/assets/
/protected/runtime/
/themes/classic/views/
*.DS_STORE*
/UPGRADE
/demos/
/CHANGELOG
/requirements/
/README.md
/LICENSE
/CHANGELOG
/index-test.php
/protected/config/*
/framework/
/index.php
!/protected/config/console.conf
!/protected/config/main.conf
!/protected/config/test.conf
/protected/yiic.php
/protected/yiic.bat
/protected/yiic
!/uploads/
/uploads/*
